NASA_API_KEY=nasa_api_key_here

API_HOST=127.0.0.1
API_PORT=3000
DB_PASSWORD=password
DATABASE_URL=postgres://rustweb:rustweb@localhost/postgres
JWT_SECRET=put_a_totally_random_hash_here_for_security
SALT=COMEUPWITHABETTERSALTTHANTHIS