<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroLocker</title>
  </head>
  <body>
    <h1>Astro Locker</h1>
    <h2>You have been banned! Please enjoy the following educational video</h2>

    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/FXPKJUE86d0" 
        title="YouTube video player, you have been banned" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>

    <form action="/logout">
      <input type="submit" value="Log out"/>
    </form>

  </body>
</html>