<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroLocker</title>
  </head>
  <body>
    <h1>Astro Locker</h1>

    {% if is_logged_in %} 

    {% if is_admin %}
    <h2>Admin Panel</h2>
    <div>
      <h3>Ban User</h3>
      <form action="/ban" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Ban" />
      </form>
  
      <h3>Unban User</h3>
      <form action="/unban" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Unban" />
      </form>

      <h3>Pomote User To Admin</h3>
      <form action="/promote" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Admin" />
      </form>

      <h3>Demote Admin</h3>
      <form action="/demote" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Admin" />
      </form>
    </div>

    {% endif %}
    <!--show dashboard-->
    <h2>Dashboard</h2>
    <ul>
      <!-- <li><a href="/questions">View All Questions</a></li> -->
      <!-- <li><a href="/answer">Answer A Question</a></li> -->
    </ul>

    {% else %}
    <!--show login form-->
    <h2>Login</h2>

    <form action="/login" method="post">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <input type="submit" value="Login" />
    </form>

    <h2>Register</h2>
    <form action="/users" method="post">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password" />
      <input type="submit" value="Register" />
    </form>

    {% endif %}
  </body>
</html>
