<html>
    {% if is_admin %}
    <h2>Admin Panel</h2>
    <div>
      <h3>Ban User</h3>
      <form action="/ban" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Ban" />
      </form>
  
      <h3>Unban User</h3>
      <form action="/unban" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Unban" />
      </form>

      <h3>Pomote User To Admin</h3>
      <form action="/promote" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Admin" />
      </form>

      <h3>Demote Admin</h3>
      <form action="/demote" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <input type="submit" value="Admin" />
      </form>
    </div>

    {% endif %}
    <h1>Hmm you shouldn't be here unless you are logged in!</h1>
</html>